<div class="cards-learning">
  <nz-row>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="home"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/home/cards']">Выбор тренировки</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Тренировка</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-row>
  <nz-row class="main-content">
    <app-card></app-card>
    <nz-row class="progress">
      <span>0</span><nz-progress [nzPercent]="0" nzStatus="active" [nzShowInfo]="false"></nz-progress><span>20</span>
    </nz-row>
  </nz-row>
</div>
