<nz-layout>
  <nz-header>
    <nz-row nzJustify="space-between">
      <nz-col >
        <nz-row nzJustify="space-between" nzAlign="middle" [nzGutter]="16">
          <nz-col>
            <img src="../../assets/images/united-kingdom.png" style="max-width: 35px; max-height: 35px;" alt="">
          </nz-col>
          <nz-col nzAlign="middle">
            <h3 nz-typography>RS Lang</h3>
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" nzSelectable="false">
            <li nz-menu-item>Особенности</li>
            <li nz-menu-item>Игры</li>
            <li nz-menu-item>Интервальное повторение</li>
        </ul>
      </nz-col>
      <nz-col>
        <button (click)="openAuthModal()" nzGhost="true" nz-tooltip nzTooltipPlacement="bottom" nz-button nzType="default"><i nz-icon nzType="login"></i> Войти</button>
      </nz-col>
    </nz-row>
    <app-auth-modal [isOpened]="isAuthModalOpened" [title]="'Войти'" (toggleModal)="closeAuthModal($event)"></app-auth-modal>
    <!-- <app-modal [isOpened]="isAuthModalOpened" [title]="'Войти'" (toggleModal)="closeAuthModal($event)">
      <app-auth-modal></app-auth-modal>
    </app-modal> -->
  </nz-header>
  <nz-content>
  </nz-content>
  <nz-footer>footer</nz-footer>
</nz-layout>
