<nz-layout class="page-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzTheme="light">
    <nz-row *ngIf="isCollapsed" nzJustify="center" nzAlign="middle" [nzGutter]="16" class="logo" [@animateLogoSwitch]>
      <nz-col>
        <img src="../../assets/images/united-kingdom.png" style="max-width: 30px; max-height: 30px;" alt="">
       </nz-col>
    </nz-row>
    <nz-row *ngIf="!isCollapsed" nzJustify="center" nzAlign="middle" [nzGutter]="16" class="logo" [@animateLogoSwitch] style="min-width: 216px">
      <nz-col>
        <img src="../../assets/images/united-kingdom.png" style="max-width: 30px; max-height: 30px;" alt="">
      </nz-col>
      <nz-col nzAlign="middle">
        <h3 nz-typography>RS Lang</h3>
      </nz-col>
    </nz-row>
    <div class="sider-menu">
      <ul nz-menu nzMode="inline" class="sidebar">
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/home/cards']">
          <i nz-icon nzType="schedule"></i>
          <span>Изучение слов</span>
        </li>
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/home/dictionary']">
          <i nz-icon nzType="book"></i>
          <span>Словарь</span>
        </li>
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/home/games']">
          <i nz-icon nzType="rocket"></i>
          <span>Игры</span>
        </li>
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/home/statistics']">
          <i nz-icon nzType="line-chart"></i>
          <span>Статистика</span>
        </li>
        <li nz-menu-item [nzMatchRouter]='true' [routerLink]="['/home/settings']">
          <i nz-icon nzType="setting"></i>
          <span>Настройки</span>
        </li>
      </ul>
    </div>
    <nz-divider></nz-divider>
    <i
    class="trigger"
    nz-icon
    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="isCollapsed = !isCollapsed"
  ></i>
  </nz-sider>
  <nz-layout>
    <nz-header nzTheme="light">
      <app-user-menu></app-user-menu>
    </nz-header>
    <nz-content>
      <nz-layout class="page-content">
        <nz-row class="active-page">
          <router-outlet></router-outlet>
        </nz-row>
      </nz-layout>
    </nz-content>
  </nz-layout>
</nz-layout>

