.page-container {
  height: 100vh;
}

nz-header {
  background-color: #fff;
  height: 54px;
  padding-left: 0px;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  display: flex;
  flex-direction: row-reverse;
}

nz-sider {
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}

::ng-deep nz-sider > div {
  display: flex;
  flex-direction: column;
  .sider-menu {
    flex-grow: 1
  }
}

.logo {
  margin-top: 25px
}

.sidebar {
  margin-top: 30px
}

.trigger {
  font-size: 19px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

h3 {
  margin-bottom: 0;
  font-size: 22px;
}

.page-content {
  padding: 20px;
  height: 100%
}

nz-divider {
  margin: 0
}

.active-page {
  overflow: auto;
  height: 100%;
}

