<div class="input-container">
  <input
    (keyup.enter)="showAnswer()"
    (input)="resetAnswerShow()"
    class="ant-input word-input"
    type="text"
    [(ngModel)]="wordInputCurrentValue"
    [disabled]="isCardCompleted"
  />
  <span
    [ngClass]="{
      visible: isShowAnswerActivated,
      wrong: char !== userWordVariant[i],
      correct: char === userWordVariant[i],
      missing: userWordVariant[i] === undefined
    }"
    *ngFor="let char of wordToCompare?.split(''); let i = index"
    >{{ char }}</span
  >
</div>
